
.window{
	border-radius: 15px;
	background: #eee;
	display: flex;
	flex-direction: column;
	transition: all .5s ease-in-out;
	position: absolute;
	right:1vw;
	top:45vh;
	height: 450px;
  width: 350px;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}


.window header{
	background:linear-gradient(93.12deg, #b3e2ee 0.52%, #008ffc 100%);
	display: flex;
	flex-direction: row;
	/* background-color: black; */
	padding : 16px 25px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	height: 80px;
}

.window aside{
	color: white;
	margin-top: 4px;
	flex-direction: column;
	margin-left: 40px;
	font-size: 1.2;
	font-weight: 600;
	& h4{
		font-size: 0.9rem;
		font-weight: 500;
		margin-top: 2px;
		color: white;
	}
}

/**************************************  CHAT  *****************************************/

.chat{
	/* padding:10px; */
	background-color: #b3e2ee;
	display: flex;
	flex-direction: column;
	height: 100%;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}


.conversation{
	display: flex;
	flex-direction: column;
	height: 300px;
	padding:10px 18px;
	overflow-y: auto;
	font-size: 14px;
}

.msg{
	/* background-color: #eee; */
	padding:7px 15px;
	width: fit-content;
	border-radius: 10px;
	margin: 5px 0px;
	font-weight: 500;
}

.bot{
	background-color: #fff;
	color: #000;
	align-self: flex-start;
}

.usr{
	background-color: #008ffc;
	color: #fff;
	align-self: flex-end;
}

.send{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	height: 70px;
	background: linear-gradient(268.91deg, #26a5bf -2.14%, #00b3fa77 99.69%);
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

.input{
	background: #fff;
	border-radius: 20px;
	padding: 10px 20px;
	font-size: 0.9rem;
	text-decoration: none;
	border-color: #fff;
	&:focus{
		outline: none;
	}
	/* width: 100%; */
}

.send button{
	color : white;
	font-weight: 600;
	font-size: 14px;
	/* letter-spacing: 0.5px; */
	padding: 10px 20px;
	background-color: #008ffc;
	border-radius: 30px;
	border: bold 1px #fff;
	cursor: pointer;
	&:hover{
		background-color: #2e00fa;
	}
	&:active{
		scale: 1.07;
	}
}

.selectBox{
	padding: 5px 15px;
	border-radius: 15px;
	font-size: 14px;
	width: fit-content;
	/* max-width: 250px; */

	background-color: #EFEFEF;
	& select{
		width: 200px;
	}
	/* width: 100%; */
}