@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

.icon{
	border-radius: 30px;
	/* padding:10px; */
	width: 50px;
	height: 50px;
}

.main{
	position: relative;
	font : 400 16px 'Nunito', sans-serif;
	font-family: 'Nunito', sans-serif;

}

.widget{
	color: #0f9ee5;
	position: absolute;
	right:1vw;
	top:92vh;
	padding: 10px 20px;
	border-radius: 50px;
	background-color: #0F9EE5;
	&:hover{
		cursor: pointer;
		background-color: #F1F1F1;
	}
	/* background-color: black; */
}

input:focus, textarea:focus, select:focus{
	outline: none;
}

#scroll{
	&::-webkit-scrollbar {
		display: none;
	}
}